{{> menu}}

<div class="border p-2 my-2">
    <h2 class="text-center">{{playlist.title}}</h2>
    <h6 class="text-center">Shortest song: {{shortestSong.title}}</h6>
    {{> listsongs}}
    {{> addsong}}
</div>